---
language: ruby
bundler_args: --without development system_tests
before_install: rm Gemfile.lock || true
rvm:
  - 2.1.0
  - 2.0.0
script: bundle exec rake test
env:
  - PUPPET_VERSION="~> 3.7.0" FUTURE_PARSER=yes
  - PUPPET_VERSION="~> 3.7.0"
  - PUPPET_VERSION="~> 3.7.0" STRICT_VARIABLES=yes FUTURE_PARSER=yes
  - PUPPET_VERSION="~> 3.6.0"
